# Python-specific
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Nix-specific
result

# Python package-specific
*.egg-info/
dist/
build/

# Temporary files
*.tmp
*.bak
*.swp

# Logs
*.log
